Repository ravshansbox/practical-full-stack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api, build_ui

build_api:
  stage: build
  script:
  - cp package-lock.json apps/api
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  - docker build -t ${IMAGE}:api apps/api
  - docker push ${IMAGE}:api

build_ui:
  stage: build
  script:
  - cp package-lock.json apps/ui
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  - docker build -t ${IMAGE}:ui apps/ui
  - docker push ${IMAGE}:ui

session 4 initial state
  AGENDA.md
Due: none

session 4 final state
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/utils.ts
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/vite.config.mts
  package-lock.json
Due: build_api, build_ui

session 5 initial state
  AGENDA.md
  README.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/ui/package.json
  package-lock.json
Due: build_api, build_ui

session 5 final state
  apps/api/schema.prisma
  apps/api/src/appRouter.ts
  apps/api/src/index.ts
  apps/api/src/routers/tokenRouter.ts
  apps/api/src/trpc.ts
  apps/api/src/types.ts
  apps/ui/src/App.tsx
  package.json
Due: build_api, build_ui

session 6 initial state
  AGENDA.md
Due: none

session 6 final state
  .vscode/settings.json
  apps/api/.eslintrc.cjs
  apps/api/package.json
  apps/api/src/appRouter.ts
  apps/api/src/routers/tokenRouter.ts
  apps/api/src/routers/tokens/createToken.ts
  apps/api/src/routers/tokens/deleteToken.ts
  apps/api/src/routers/tokens/fetchToken.ts
  apps/api/src/routers/tokens/index.ts
  apps/ui/.eslintrc.cjs
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/src/AuthContext.tsx
  apps/ui/src/components/App.tsx
  apps/ui/src/components/LoginForm.tsx
  apps/ui/src/components/core/Button.tsx
  apps/ui/src/index.tsx
  package-lock.json
Due: build_api, build_ui

session 7 initial state
  AGENDA.md
Due: none

session 7 final state
  apps/api/.eslintrc.cjs
  apps/api/package.json
  apps/api/src/appRouter.ts
  apps/api/src/index.ts
  apps/api/src/routers/companies/createOne.ts
  apps/api/src/routers/companies/deleteOne.ts
  apps/api/src/routers/companies/fetchMany.ts
  apps/api/src/routers/companies/index.ts
  apps/api/src/routers/companies/updateOne.ts
  apps/api/src/routers/tokens/createToken.ts
  apps/api/src/routers/tokens/index.ts
  apps/api/src/trpc.ts
  apps/api/src/utils.ts
  apps/ui/.eslintrc.cjs
  apps/ui/package.json
  apps/ui/src/AuthContext.tsx
  package-lock.json
  package.json
Due: build_api, build_ui

Updates
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  apps/ui/index.html
  apps/ui/package.json
  apps/ui/postcss.config.js
  apps/ui/src/components/LoginForm.tsx
  apps/ui/src/components/core/Button.tsx
  apps/ui/src/index.css
  apps/ui/src/index.tsx
  apps/ui/tailwind.config.js
  package-lock.json
Due: build_ui

Add `object-shorthand` eslint rule
  apps/api/.eslintrc.cjs
  apps/ui/.eslintrc.cjs
Due: build_api, build_ui

Refactor rpc method names to domain names
  apps/api/src/routers/companies/createCompany.ts
  apps/api/src/routers/companies/deleteCompany.ts
  apps/api/src/routers/companies/fetchCompanies.ts
  apps/api/src/routers/companies/index.ts
  apps/api/src/routers/companies/updateCompanies.ts
  apps/api/src/routers/tokens/index.ts
Due: build_api

Enable typescript esModuleInterop option
  apps/api/tsconfig.json
  apps/ui/tsconfig.json
Due: build_api, build_ui

Implement logging system with winston and mongodb
  .gitignore
  apps/api/.env.example
  apps/api/docker-compose.yml
  apps/api/package.json
  apps/api/src/constants.ts
  apps/api/src/createLogger.ts
  apps/api/src/routers/tokens/createToken.ts
  package-lock.json
Due: build_api

Updates
  apps/api/package.json
  apps/api/src/routers/companies/index.ts
  apps/api/src/routers/companies/updateCompany.ts
  apps/api/src/routers/tokens/createToken.ts
  apps/api/src/routers/tokens/fetchToken.ts
  package-lock.json
Due: build_api

Bunch of stuff
  apps/api/src/createLogger.ts
  apps/api/src/routers/tokens/deleteToken.ts
  apps/api/tsconfig.json
  apps/ui/.eslintrc.cjs
  apps/ui/package.json
  apps/ui/tsconfig.json
Due: build_api, build_ui

Implement AuthContext
  apps/ui/src/AuthContext.tsx
  apps/ui/src/trpc.ts
Due: build_ui

Implement authentication
  apps/ui/src/components/App.tsx
  apps/ui/src/components/Dashboard.tsx
  apps/ui/src/index.tsx
  package-lock.json
Due: build_ui

bump deps
  apps/api/package.json
  apps/ui/package.json
  package-lock.json
Due: build_api, build_ui

Path conditions:
  build_api: any of: apps/api/**/*
  build_ui: any of: apps/ui/**/*
